.sidebar-menu {
    min-height: 100%;
    border-style: none;
    border-width: 20px;
    margin: 70px;
    float: left;
}

#logo {
    width: 250px;
}

#written {
    color: rgb(87, 98, 109);
}

div.sidebarOption:hover {
    color: rgb(87, 98, 109);
    cursor: pointer;
}

#icon {
    padding-right: 10px;
    width: 30px;
}

#right-side {
    overflow: auto;
    position: relative;
}


.art_images {
    margin: 20px;
    width: 300px;

}

.art_images_h {
    margin: 20px;
    width: 415px;
}

.photo_images {
    margin: 20px;
    width: 420px;
}



aside {
    position: center;
}

@media screen and (max-width:1391px) {
    .sidebar-menu {
        min-height: 100%;
        border-style: none;
        border-width: 20px;
        margin: 70px;
        float: left;
        width: 200px;
    }

    #nolensvolens-logo {
        width: 250px;
    }



    #icon {
        padding-right: 10px;
        width: 20px;
    }

    #right-side {
        overflow: auto;
        position: relative;
    }


    .art_images {
        margin-right: 20px;
        margin-top: 20px;
        width: 250px;
        float: auto;

    }

    
}

footer{
    background-color: rgb(36, 36, 36);
    position:fixed;
    bottom: 0px;
    left: 0;  
right: 0;
}
.copyright{
    color: whitesmoke;
    text-align: center;
}